body {
  font-size: 12px;
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}



td {
  position: relative;
  /*display: inline-block;*/
  box-sizing: border-box;
  min-width: 100px;
  height: 20px;
  margin: 0;
  padding: 0;
  border-width: 1px 1px 0 0;
  border-style: solid;
  border-color: #cacaca;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  cursor: cell;
}

td.selected {
  border: 2px solid #0bc3e2;
}

td.read-only,
td.col-read-only {
  background: #f0f0f0;
}

td.col-read-only {
  min-width: 40px;
}

td span {
  padding: 5px;
}

td input {
  width: 100%;
  box-sizing: inherit;
  padding-left: 2px;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input {
  outline: none;
  border: none;
}

.table-outer-wrapper {
  overflow-x: scroll;
}






















